.editprofile{
    width: 100vw;
    height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editprofile .registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    border: 1px solid rgb(207, 207, 207);
    padding: 50px 50px;
}
.editprofile .registerContainer .profileContainer{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}
.editprofile .registerContainer .close{
    position: absolute;
    top: 0;
    right: 35%;
    font-size: 20px;

}
.editprofile .registerContainer .profileContainer .profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;

    object-fit: cover;
    object-position: center center;
    margin-bottom: 25px;
}
.editprofile .registerContainer .profileContainer .close{
    cursor: pointer;
    color: rgb(73, 73, 73);
}
.editprofile .registerContainer .logo{
    width: 190px;
    margin-bottom: 25px;
}
.editprofile .registerContainer input, .editprofile .registerContainer textarea{
    width: 300px;
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 2px;

    outline: none;
    border: 1px solid rgb(207, 207, 207);
    background-color: #FAFAFA;

    font-family: var(--font-family);
}
.editprofile .registerContainer .btn{
    width: 300px;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 8px;

    outline: none;
    border: none;
    cursor: pointer;

    font-family: var(--font-family);
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    background-color: #64B3F9;
}

.editprofile .registerContainer .registerInfo{
    margin-top: 20px;
    font-family: var(--font-family);
    font-size: 14px;
}
.editprofile .registerContainer .registerInfo span{
    color: #64B3F9;
    font-weight: bold;
}
.editprofile .registerContainer .loader{
    width: 12px;
    height: 12px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a{
    text-decoration: none;
}